
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    background-image: url(./background.jpeg);
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

form{
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;

}

input[type="text"]{
    height: 300px;
    width: 400px;
    text-align: center;
    color: white; 
    font-size: 1.3rem;
    top: 100px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.162);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.162);
    backdrop-filter: blur(5px);

}

input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.322);
    font-size: 2rem;
}



#text{  
    position: absolute;
    left: 0px;
}

#cipher{
    position: absolute;
    right: 0px;
}

select{
    background-size: contain;
    position: relative;
    border-radius: 50%;
    align-self: center;
    width: 180px;
    height: 180px;
    font-size: 4.4rem;
    font-weight: bolder;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.279);
    transition: all .1s ease-in-out;
    color: white;
    -webkit-text-stroke: 1px black;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.185);
}


select:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.525);

}

option{
    font-size: 1.1rem;
    background: rgba(180, 148, 89, 0.226);
    color: rgb(0, 0, 0);
}

#circle{
    transform: scale(0.7);
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    top: 250px;
    left: 675px;
    opacity: 0.89;
}

#big{
    position: absolute;
    transition: all 1s ease-in-out;


}

#small{
    position: absolute;
    transition: all 1s ease-in-out;

}

#submit{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 1.7rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.505);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.162);
    backdrop-filter: blur(5px);
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    transition: all .2s ease-in-out;
}

#submit:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.765);
}

.shift{
    position: absolute;
    display:flex;
    justify-content: center;
    top: 40px;
    left: 80px;
}

.shiftButton{
    display: flex;
    justify-content: center;
    align-items:center; 
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 20px;
}